body{
    margin:none;
    font-family: poppins;
    background: linear-gradient(45deg, #0b03a3, #00dfff);
    background-repeat: no-repeat;
}

.hero{
    width: 100%;
    min-width: fit-content;
    min-height: 100vh;
    position: relative;
    color: #fff;
}

.container{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.clock{
    width: 100%;
    height: 100%;
    background-color: rgba(149, 197, 253, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background-color: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background-color: #2f01fa;
    border-radius: 50%;
    position: absolute;
    right: -80px;
    bottom: -80px;
    z-index: -1;
}

.clock span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position:absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}
#min::after {
    content: 'MINUTES';
}
#sec::after {
    content: 'SECONDS';
}
